

#logo{
    width: 600px;
    color: white;
}

p {
    color: blueviolet;
}

h2 {
    color: black;
}

article{
    background-color: green;
}

header{
    background-color: gray;
}

footer{
    background-color: cadetblue;
}

.large_header{

    font-size: 100px;
}

footer p, header a{
    color: black;
    font-weight: bold;
}

